#main > ul{
    max-height: 431px;
    overflow: auto
 }
     #main > ul > li{
         border-bottom: 1px solid #d3d3d3;
         padding: 10px 10px 5px 10px;
         font-size: 14px;
         font-style: italic;
         transition: padding .5s
     }
     #main > ul > li:hover{
         padding: 10px 0 5px 20px;
         cursor: pointer
     }
     #main > ul > li.endTask{
         color: #d3d3d3;
         text-decoration: line-through
     }